@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Merienda:wght@700&family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Satisfy&family=Tiro+Devanagari+Marathi:ital@1&display=swap');
*{
        margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px
}


body{
    width: 100%;
    min-height: 100vh;
    background-color: #1e192c;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    height: 100vh;
}
.instagram-phone{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.instagram-continue{
    display: flex;
    align-items: center; /*horizontal*/
    justify-content: space-around; /*vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}
.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color:  white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    border-radius: 2%;
}

h6{
    font-size: 40px;
    color:#CC0000;
    font-family: 'EB Garamond', serif;
}

.group:nth-child(1){
    min-height:19rem ;
}
.instagram-logo{
    height: 4.5rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
}

.instagram-login{
    background-color: #CC0000;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}
.instagram-logout{
    color: #CC0000;
    margin-top: 1rem;
}

.not-account{
    color: rgb(160, 160, 160);
}
.link-blue{
    color:  #1e192c;
}
.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
    color: white;
}
.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}
.app-download{
    height: 4rem;
    width: 10rem;
    background-size: cover;
    align-items: center;

}

.app-download:nth-child(1) {
    background-image:url(".img/aplle.buttom.png");
}
.app-download:nth-child(2) {
    background-image: url(".img/play-google.png") ;
}

/*media queries*/

@media (max-width:1024px){
    .instagram-wrapper{
        width:90%;
    }
}
@media (max-width:650px){
    body{
        background-color: #ffffff;
    }
    .group{
        border: none;
    }
    .instagram-wrapper{
        max-width: 90%;
    }
    .instagram-phone{
        display: none;
    }
    .instagram-continue{
        width: 100%;
    }
}